*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #283faa;
    display: grid;
    place-items: center;

}
button{
    font-size: 20px;
    padding: 20px 45px;
    background-color: transparent;
    border: solid 5px #ffffff;
    letter-spacing: 1.5px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}